<form (ngSubmit)='submitQuote()' #quoteForm='ngForm' ngNativeValidate>
  <div class="form-group">
    <label for='author'>Author</label>
    <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" #author='ngModel'
      name="author">
  </div>
  <div class="form-group">
    <label for='name'>Quote</label>
    <textarea type='text' class="form-control" id="name" rows="4" [(ngModel)]='newQuote.name' #name='ngModel'
      name='name' placeholder="Enter Quote..." required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
